<div class="container">
    <div class="bg">
        <div class="parent">
            <div class="child">
                <div class="logo">
                    <!-- <img src="Logo.png" alt="Logo"> -->
                </div>
                <h1 class="form-title">
                    Add New Book
                </h1>
                <form class="register-form" [formGroup]="addBookForm">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" placeholder="Title" formControlName="bookTitle" required >
                        <mat-error *ngIf="addBookForm.get('bookTitle')?.hasError('required')">Please enter a valid book title</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>ISBN</mat-label>
                        <input matInput type="text" placeholder="ISBN-0002" formControlName="bookIsbn" required >
                        <mat-error *ngIf="addBookForm.get('bookIsbn')?.hasError('required')">Please enter a valid book ISBN</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Genre</mat-label>
                        <input matInput type="text" placeholder="Category" formControlName="bookGenre" required >
                        <mat-error *ngIf="addBookForm.get('bookGenre')?.hasError('required')">Please enter a valid book Genre</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field" >
                        <mat-label>Publication Date</mat-label>
                            <input matInput formControlName="bookPublication" [matDatepicker]="picker">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                      
                        <mat-error *ngIf="addBookForm.get('bookPublication')?.hasError('required')">Please enter a valid book publication date.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Publisher</mat-label>
                        <input matInput type="text" placeholder="ABC Publication" formControlName="bookPublisher" required >
                        <mat-error *ngIf="addBookForm.get('bookPublisher')?.hasError('required')">Please enter a valid book publisher</mat-error>
                    </mat-form-field>
                    

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Language</mat-label>
                        <input matInput type="text" placeholder="English" formControlName="bookLanguage" required >
                        <mat-error *ngIf="addBookForm.get('bookLanguage')?.hasError('required')">Please enter a valid book language</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Pages</mat-label>
                        <input matInput type="number" placeholder="123" formControlName="bookPages" required >
                        <mat-error *ngIf="addBookForm.get('bookLanguage')?.hasError('required')">Please enter a valid book pages</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Edition</mat-label>
                        <input matInput type="text" placeholder="12th Edition" formControlName="bookEdition" required >
                        <mat-error *ngIf="addBookForm.get('bookEdition')?.hasError('required')">Please enter a valid book edition</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Summary</mat-label>
                        <!-- <input matInput type="text" placeholder="Title" formControlName="bookSummary" required > -->
                        <textarea matInput placeholder="The book is about...." formControlName="bookSummary"></textarea>
                        <mat-error *ngIf="addBookForm.get('bookSummary')?.hasError('required')">Please enter a valid book summary</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" placeholder="123.98" formControlName="bookPrice" required >
                        <mat-error *ngIf="addBookForm.get('bookPrice')?.hasError('required')">Please enter a valid book price</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Availability</mat-label>
                            <select matNativeControl required formControlName="bookAvailability">
                                <option value="available">Available</option>
                                <option value="outofstock">Out of Stock</option>
                                
                            </select>
                        <mat-error *ngIf="addBookForm.get('bookAvailability')?.hasError('required')">Please enter a valid book availability</mat-error>
                    </mat-form-field>
                    

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Rating</mat-label>
                        <input matInput type="number" placeholder="5.0" formControlName="bookRating" maxlength="1" required >
                        <mat-error *ngIf="addBookForm.get('bookRating')?.hasError('required')">Please enter a valid book rating</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Author</mat-label>
                        <input matInput type="text" placeholder="Dr. John" formControlName="bookAuthor" required >
                        <mat-error *ngIf="addBookForm.get('bookAuthor')?.hasError('required')">Please enter a valid book Author</mat-error>
                    </mat-form-field>

                    

                  
    
                    <button mat-stroked-button color="" (click)="addBook()" [disabled]="addBookForm.invalid">Add Book</button>
                </form>
            </div>
        </div>
    </div>
    
</div>